<div class="about-container col-12 mt-5">
    <div class="about-me col-12  row">
        <div class="about-img col-3"><img class="mepic rounded"src="{image-url}" alt="" srcset=""></div>
        <div class="about-text-container col-9 text-white font-weight-bold border rounded pt-3 pb-3">
            <h5 class="text-uppercase"><u>about my self:</u></h5>
            <div class="about-text">
                {about-me-text}
            </div>   
        </div>
    </div>
    <div class="proyect-text-container col-12 text-white font-weight-bold border rounded pt-3 pb-3">
        <h5 class="text-uppercase"><u>about the proyect:</u></h5>
            <div class="proyect-text">
        {proyect-text}
        </div>
    </div>
>
  </div>